@import url(http://fonts.googleapis.com/css?family=Dosis:600);
* {
  outline: none;
}
.lowcase {
  text-transform: none;
}
body {
  background: #cecece;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.layout {
  background: #fff;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  overflow: hidden;
  margin: 2em auto;
}
.navigateBar {
  background: #f0f0f0;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
.shadow {
  -webkit-box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.2);
  color: -5px 0 5px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  position: absolute;
  right: -10px;
  top: 0;
  width: 10px;
}
.navigateBar-menu {
  background: #70a8c8;
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigateBar-menu-item-a {
  color: #fff;
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
  line-height: 2em;
  text-indent: 1em;
}
h1,
h2,
h3,
h4 {
  color: #404040;
  font-family: 'Dosis', sans-serif;
}
.element-edit {
  color: #24afb2;
  font-size: 1.2em;
}
.element-edit i {
  cursor: pointer;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.tableRow {
  border-top: 1px solid #e5e5e5;
}
.td {
  line-height: 2.5em;
}
.td .btn {
  margin-top: 5px;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.btn-blue {
  background: #24afb2;
  color: #fff;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: 0 0 0 0;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.form-filter input[type=text] {
  border: 0 solid;
  font-size: 18px;
  padding: 3px 0;
}
.search {
  padding: 10px;
  background: #e8f5f8;
  position: relative;
}
.status {
  list-style: none;
  padding: 0;
}
.off {
  color: #aaa;
}
.modal {
  display: block;
  overflow: hidden;
  opacity: 1;
}
.filter-dropdown {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.filter-dropdown .dropdown-toggle {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  height: 100%;
  color: #999;
  font-size: 18px;
  line-height: 2.1em;
  border: 0 solid;
  padding: 6px 20px;
}
.filter-dropdown .dropdown-toggle i {
  font-size: 12px;
}
.filter-dropdown:active,
.filter-dropdown:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: ;
}
.filter-dropdown.open .dropdown-toggle {
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  color: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.filter-dropdown .dropdown-menu {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  color: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  margin-top: -1px;
  background: #fff;
  border: 0 solid;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.filter-dropdown .dropdown-menu li {
  padding: 5px 35px;
}
.filter-dropdown .dropdown-menu label {
  font-weight: normal;
  white-space: nowrap;
}
h3 {
  padding-bottom: 10px;
}
.hr {
  border-bottom: 1px solid #ccc;
}
