<h3>Добавить заведение</h3>
<div class="hr"></div>
<form action="">
	<fieldset>
		 <div class="checkbox">
		    <label>
		      <input type="checkbox"> Remember me
		    </label>
		  </div>
		  <div class="row">
		  	<div class="col-md-4">
		  		Сеть ресторанов:
		  		<ul class="scroll">
		  			<li></li>
		  		</ul>
		  	</div>
		  	<div class="col-md-4">
		  		Шаблон меню:
		  		<ul class="scroll">
		  			<li></li>
		  		</ul>
		  	</div>
		  	<div class="col-md-4">
		  		Шаблон скидок:
		  		<ul class="scroll">
		  			<li></li>
		  		</ul>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="col-md-6">
		  		<div class="checkbox">
				    <label>
				      <input type="checkbox"> Заведение активно
				    </label>
				  </div>
				  <div class="checkbox">
				    <label>
				      <input type="checkbox"> Wi-Fi есть
				    </label>
				  </div>
		  	</div>
		  	<div class="col-md-6">
		  		<div class="radio">
				  <label>
				    <input type="radio" name="order" id="order1" value="option1" checked>
				    Заказ оплачивает клиент
				  </label>
				</div>
				<div class="radio">
				  <label>
				    <input type="radio" name="order" id="order2" value="option2">
				    Заказ оплачивает заведение
				  </label>
				</div>
				<h5>Время работы:</h5>
				
		  	</div>
		  </div>
		  
	</fieldset>
</form>