

<p>
	<a href="#/add" class="btn  btn-info pull-right">Добавить заведение</a>
</p>
					<h3>Заведения</h3>
					<div class="search">
						<form action="" class="form-inline form-filter">
							<div class="row">
								<div class="col-md-4">
									<input type="text" class="col-md-12" ng-model="filter.name" placeholder="Название" />
								</div>
								<div class="col-md-2">
									<input type="text" class="col-md-12" ng-model="filter.api" placeholder="api key" />
								</div>
								<div class="pull-right dropdown filter-dropdown">
									
									  <a class="btn  dropdown-toggle" data-toggle="dropdown" href="#">
									    Фильтр
									    <i class="glyphicon glyphicon-chevron-down"></i>
									  </a>
									  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									    <li><label class="radio"><input type="radio" name="optionsRadios" ng-model="filter.status" id="optionsRadios1" value="" checked="checked" /> Все заведения</label></li>
									    <li><label class="radio"><input type="radio" name="optionsRadios" ng-model="filter.status" id="optionsRadios2" value="on"  /> Активные</label></li>
									    <li><label class="radio"><input type="radio" name="optionsRadios" ng-model="filter.status" id="optionsRadios3" value="off"  /> Не активные</label></li>
									  </ul>
								</div>
							</div>
						</form>
					</div>
					
					<div class="list">
					
						<div class="table col-md-12">
							<div class="row tableRow  {{rest.status}}"  ng-repeat="rest in restorans | filter:filter.name  | filter:filter.api  | filter:filter.status">
								<div class="col-md-4 td">
									{{rest.name}}
								</div>
								<div class="col-md-2 td">
									{{rest.api}}
								</div>
								<div class="col-md-2 td">
									<ul ng-switch on="rest.status" class="status">
										<li  ng-switch-when="on">Активный</li>
										<li  ng-switch-when="off">Неактивный</li>
									</ul> 
								</div>
								<div class="col-md-3 td">
									<a href="#" class="btn btn-info">Сделать сеть</a>
								</div>
								<div class="col-md-1 td element-edit">
									<i class="icon-pencil" ng-click="editRest($index)"></i>
									<i class="icon-remove-sign" ng-click="removeRest($index)"></i>
								</div>
							</div>
							
						</div>
					</div>
					
